Recuperação de Senha

Olá {{name}}, uma solicitação de recuperação de senha
foi realizada para o seu e-mail ({{email}}).

Para recuperar sua senha utilize o token ({{token}})
ou acesse o link abaixo:
{{link}}


Obs.: Caso você não tenha feito essa solicitação, ignore esse e-mail.
